.positionR{
    position: relative;
}

.positionR label{
    position: absolute;
    top: -23px;
    left: 0;
    text-align-last: justify;
    width: 170px;
}

.classic{
    display: inline-block;
    width: 166px;
    background: none;
    border: none;
    border-bottom: solid 1px black;
}

.errorNoLetters{
    position: absolute;
    bottom: -16px;
    right: -4px;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    color: red;
}

.errorNoUpperCase{
    position: absolute;
    bottom: -24px;
    right: 24px;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    color: red;
}

.webError{
    position: absolute;
    bottom: -14px;
    right: 30px;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    color: red;
}