.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    color: white;
}

.modalContent{
    border-radius: 25px;
    width: 500px;
    background: rgba(248, 248, 255, 0.42);
}

.modalHeader{
    padding: 10px;
}

.modalTitle{
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.modalFooter{
    padding: 10px;
}

.modalBody{
    padding: 10px;
    border-top: 1px solid ghostwhite;
}
.modalBody div{
    margin-bottom: 10px;
}
.sizeWidth{
    width: 500px;
}
