.positionR2{
    position: relative;
}

.positionR2 label{
    position: absolute;
    top: -17px;
    left: 0;
    width: 170px;
    white-space: nowrap;
}
.errorNoLetters{
    position: absolute;
    bottom: -2px;
    right: 67px;
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    color: red;
}

.maxSymbols{
    position: absolute;
    bottom: -5px;
    right: 0;
}

.countError{
    position: absolute;
    bottom: -10px;
    right: 40px;
    color: red;
}